<!-- navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse -->


<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded " >
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <a class="navbar-brand" href="#"> -->
<div>
    <img src="/assets/images/myLilly-noLine.png" class="img-responsive" width="80px" height="47px" alt="">
</div>
  <!-- </a> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Career" href="#">Career and Development</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Pay" href="#">Pay</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Benefits" href="#">Benefits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Staffing" href="#">Staffing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/EthicalConduct" href="#">Ethical Conduct</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/News" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ToolsAndServices" href="#">Other Tools &amp; Services</a>
      </li>
      <li class="nav-item dropdown text-right">

        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/assets/images/glyphicons/png/glyphicons-28-search.png"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown05">

          <div class="container" style="max-width: 25em; min-width: 25em;">
            <div class="row">
              <div class="col">
          <form class="card-block form-inline">
              <div class="form-group ">
            <input class="form-control " type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
            </div>
          </form>
        </div>
        </div>
        </div>

        </div>
      </li>



      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/SimpleSortableCopy" href="#">SimpleSortableCopy</a>
      </li> -->
    </ul>



  </div>
</nav>
<div></div>
