<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/images/myLilly-noLine.png"  alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Career" href="#">Career and Development</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Pay" href="#">Pay</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Benefits" href="#">Benefits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Staffing" href="#">Staffing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/EthicalConduct" href="#">Ethical Conduct</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ToolsAndServices" href="#">Other Tools and Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/SimpleSortableCopy" href="#">SimpleSortableCopy</a>
      </li>
    </ul>
  </div>
</nav>
