<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Narrow Jumbotron Template for Bootstrap</title>
</head>
<body>
  <div class="container-fluid" >
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">

        <!-- Modal -->
        <app-my-messages-modal-component></app-my-messages-modal-component>

        <br/>
        <div class="container">
          <!-- *ngIf="teamMembers?.length > 0" -->
          <div *ngIf="announcements?.length > 0">
            <div *ngFor="let alert of recentMessageAlert">
              <ngb-alert [type]="alert.type" (close)="closeRecentMessageAlert(alert)"><a href="#" class="alert-link" data-toggle="modal"  data-target="#exampleModalLong">{{ alert.message }}</a></ngb-alert>
            </div>
          </div>


          <app-homepage-carousel class="hidden-sm-down" ></app-homepage-carousel>
          <br/>
          <app-quick-links-component></app-quick-links-component>
          <br/>
          <app-learning-plan-dashboard-component></app-learning-plan-dashboard-component>
          <app-featurette-component [featurettes]="featurettes"> </app-featurette-component>
          <div class="container" id="featurette-holder">
            <div id="gallery">
              <hr class="featurette-divider">
              <div class="row featurette" style="padding: 5vh;" >
                <div class="col-md-12">
                  <h2 class="featurette-heading">Need Help?</h2>
                  <h6 class="lead"><b>HR Direct: </b><span class="text-muted">317-433-9000 or 877-676-4745</span></h6>
                  <p class="lead"><b>IT Support: </b><span class="text-muted">317-277-7000, 800-435-7977, or 800-222-4639 (field support)</span></p>
                </div>
              </div>
              <hr class="featurette-divider">
            </div>
          </div>

          <footer class="footer">
            <p>&copy; Company 2017</p>
          </footer>



        </div>
      </div>
      <!-- <div class="col-sm-2 col-lg-2 hidden-xs-down hidden-md-down bg-faded sidebar"></div> -->



      <!-- col-md-2 hidden-xs-down hidden-md-down -->
      <!-- col-sm-2 hidden-xs-down hidden-md-down bg-faded sidebar -->

    </div>
  </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
